<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.natebeatty.safari.middleburygofix</string>
			<key>Developer Identifier</key>
			<string>TKD9786PA7</string>
			<key>CFBundleVersion</key>
			<string>1.1.4</string>
			<key>CFBundleShortVersionString</key>
			<string>1.1.4</string>
			<key>URL</key>
			<string>https://raw.github.com/tnbeatty/Middlebury-Go-Fix/master/Middlebury%20Go%20Fix.safariextz</string>
		</dict>
	</array>
</dict>
</plist>
